---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">
	<section class="h-screen flex flex-col items-center justify-center text-center">
		<h1 class="text-6xl text-rap-accent mb-4">CAMEL & DJ JUANPE</h1>
		<p class="text-xl text-rap-gold tracking-widest">SERVIDOR FUNCIONANDO 🚀</p>
		<p class="mt-4 text-gray-500 text-sm">Ahora podemos empezar a crear componentes.</p>
	</section>
</Layout>