---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/Navbar';
// 1. Importamos el Footer
import Footer from '../components/Footer.astro'; 
// 2. Importamos el nuevo FloatingPlayer
import FloatingPlayer from '../components/FloatingPlayer';
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
// Obtenemos la ruta actual para pasarla al Navbar
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Camel & DJ Juanpe" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Camel & DJ Juanpe</title>
    <ViewTransitions />
  </head>
  
  <body class="bg-background-dark text-text-main font-sans antialiased overflow-x-hidden selection:bg-primary selection:text-white flex flex-col min-h-screen">
    
    <Navbar client:load currentPath={currentPath} />
    
    {/* Contenido principal */}
    <main class="grow flex flex-col items-center w-full">
      <slot />
    </main>

    <Footer />

    {/* REPRODUCTOR PERSISTENTE 
        - client:load = Carga en el cliente (necesario para React y Audio)
        - transition:persist = NO SE DESMONTA al cambiar de página
    */}
    <div transition:persist>
        <FloatingPlayer client:load />
    </div>
    
  </body>
</html>