<body class="bg-rap-bg text-rap-text font-sans overflow-x-hidden antialiased selection:bg-rap-accent selection:text-white">
		
		<main class="min-h-screen">
			<slot />
		</main>

		<footer class="py-10 text-center text-gray-500 text-sm font-mono border-t border-rap-secondary mt-20">
			<p>&copy; {new Date().getFullYear()} CAMEL & DJ JUANPE. TODOS LOS DERECHOS RESERVADOS.</p>
		</footer>
	</body>